@headerH: 3.125rem;
.swiper-container {
	padding-top : @headerH;
	width : 100%;
	img {
		width : 100%;
	}
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	background-size : 30px 30px;
	margin:auto;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
	background-size : 30px 30px;
	margin:auto;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	background-size : 30px 30px;
	margin:auto;
}